.container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 375px;
    top:0;
    bottom: 0;
    left: 0; 
    right: 0;
    margin: auto;
}

.navbar {
    text-align: center;
}

.timer {
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0; 
    right: 0;
    margin: auto;
}

.fa {
    color: #000;
}

#logo {
    font-size: 1.75em;
    font-weight: 700;
}

#quote {
    font-size: 125%;
    font-style: italic;
}

#timer {
    font-size: 2.85em;
    font-weight: 700;
}