.container {
    padding: 0.5em 1.0em;}

.navbar {
    text-align: right;}

.timer {
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;}

#timer{
    font-size: 2.8em;
    font-weight: 700;}