body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
	background-color: #3b3b38;
    color: whitesmoke;
}
.navbar {
	text-align: center;
}

.timer {
	text-align: center;
	width: 100px;
	height: 94px;
	background-color: red;
	border: red 1px solid;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 7s; /* Firefox < 16 */
	-ms-animation: fadein 7s; /* Internet Explorer */
	-o-animation: fadein 7s; /* Opera < 12.1 */
	animation: fadein 7s;
}

.container {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 375px;
    text-align: center;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#logo {
	color: whitesmoke;
	font-size: 1.75em;
	font-weight: 700;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;
}

#quote {
	font-size: 125%;
	font-style: italic;
	-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 5s; /* Firefox < 16 */
	-ms-animation: fadein 5s; /* Internet Explorer */
	-o-animation: fadein 5s; /* Opera < 12.1 */
	animation: fadein 5s;
}

.fa {
	color: #00acee;
	-webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 7s; /* Firefox < 16 */
	-ms-animation: fadein 7s; /* Internet Explorer */
	-o-animation: fadein 7s; /* Opera < 12.1 */
	animation: fadein 7s;
}

#timer {
	font-size: 2.75em;
	font-weight: 700;
	-webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 7s; /* Firefox < 16 */
	-ms-animation: fadein 7s; /* Internet Explorer */
	-o-animation: fadein 7s; /* Opera < 12.1 */
	animation: fadein 7s;
	color: whitesmoke;
}
